body{
  font-family: 'Josefin Slab', serif;
  background-image: url(../fondo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f6f6f6;

}

.contenedor-form{
  width: 330px;
  height: 150px;
  background: #ffffff;
  opacity: 90%;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  box-shadow: 5px 0px 5px -10px white;
  padding: 10px 30px 10px 30px;
   position: absolute;
  top: 35%;
  left: 35%;
}
